# Seção Limpeza de Dados

#Importação das bibliotecas.

Se necessário adicionar alguma pode colocar aqui

In [ ]:
import pandas as pd
import numpy as np
import sklearn as sk

from sklearn.preprocessing import LabelEncoder

# Visualização da Base Crua

In [ ]:
df = pd.read_csv('Filtragem_Transformada.csv')
df

,Idade,Faixa idade,Gênero,Cor/raca/etnia,PCD,Vive no Brasil,UF onde mora,Nível de Ensino,Área de Formação,Setor,Cargo Atual,Nível,Faixa salarial,Quanto tempo de experiência na área de dados você tem?,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Existe faculdade no Estado
0,31,30-34,0,Branca,0,1,MG,Doutorado ou Phd,Computação / Engenharia de Software / Sistemas...,Finanças ou Bancos,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,1
1,30,30-34,0,Branca,0,1,ES,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Finanças ou Bancos,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,de 3 a 4 anos,0
2,37,35-39,1,Amarela,0,1,SP,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Finanças ou Bancos,Analista de Dados/Data Analyst,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,1
3,34,30-34,0,Branca,0,1,MG,Doutorado ou Phd,Economia/ Administração / Contabilidade / Fina...,Outra Opção,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,1
4,30,30-34,0,Branca,0,1,RJ,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2902,36,35-39,1,Parda,0,1,SP,Pós-graduação,Economia/ Administração / Contabilidade / Fina...,Área da Saúde,Analista de Dados/Data Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,1
2903,23,22-24,0,Parda,0,1,GO,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Varejo,Analista de Dados/Data Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês,Menos de 1 ano,de 3 a 4 anos,0
2904,27,25-29,1,Parda,0,1,ES,Graduação/Bacharelado,Outras Engenharias,Varejo,Data Product Manager/ Product Manager (PM/APM/...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0
2905,28,25-29,0,Branca,0,1,SP,Graduação/Bacharelado,Química / Física,Finanças ou Bancos,Cientista de Dados/Data Scientist,Júnior,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,1
2906,32,30-34,0,Branca,0,1,RN,Graduação/Bacharelado,Outras Engenharias,Outra Opção,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0

In [ ]:
df.dtypes

Idade                                                                                                                         int64
Faixa idade                                                                                                                  object
Gênero                                                                                                                        int64
Cor/raca/etnia                                                                                                               object
PCD                                                                                                                           int64
Vive no Brasil                                                                                                                int64
UF onde mora                                                                                                                 object
Nível de Ensino                                                                                                              object
Área de Formação                                                                                                             object
Setor                                                                                                                        object
Cargo Atual                                                                                                                  object
Nível                                                                                                                        object
Faixa salarial                                                                                                               object
Quanto tempo de experiência na área de dados você tem?                                                                       object
Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?    object
Existe faculdade no Estado                                                                                                    int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 16 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Idade                                                                                                                      2907 non-null   int64
 1   Faixa idade                                                                                                                2907 non-null   object
 2   Gênero                                                                                                                     2907 non-null   int64
 3   Cor/raca/etnia                                                                                                             2907 non-null   object
 4   PCD                                                                                                                        2907 non-null   int64
 5   Vive no Brasil                                                                                                             2907 non-null   int64
 6   UF onde mora                                                                                                               2907 non-null   object
 7   Nível de Ensino                                                                                                            2907 non-null   object
 8   Área de Formação                                                                                                           2907 non-null   object
 9   Setor                                                                                                                      2907 non-null   object
 10  Cargo Atual                                                                                                                2907 non-null   object
 11  Nível                                                                                                                      2907 non-null   object
 12  Faixa salarial                                                                                                             2907 non-null   object
 13  Quanto tempo de experiência na área de dados você tem?                                                                     2907 non-null   object
 14  Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?  2907 non-null   object
 15  Existe faculdade no Estado                                                                                                 2907 non-null   int64
dtypes: int64(5), object(11)
memory usage: 363.5+ KB

In [ ]:
df.describe()

,Idade,Gênero,PCD,Vive no Brasil,Existe faculdade no Estado
count,2907.000000,2907.000000,2907.00000,2907.0,2907.000000
mean,30.484692,0.236326,0.02064,1.0,0.537324
std,6.381809,0.424898,0.14220,0.0,0.498691
min,18.000000,0.000000,0.00000,1.0,0.000000
25%,26.000000,0.000000,0.00000,1.0,0.000000
50%,29.000000,0.000000,0.00000,1.0,1.000000
75%,34.000000,0.000000,0.00000,1.0,1.000000
max,70.000000,1.000000,1.00000,1.0,1.000000

# Verificação, Transormação e limpeza da base

## **Selecionando Valores**

### Removendo aqueles que não moram no Brasil

In [ ]:
df = df[~(df['Vive no Brasil']=='Inválido')]
print(df['Vive no Brasil'][0:60])

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
50    1
51    1
52    1
53    1
54    1
55    1
56    1
57    1
58    1
59    1
Name: Vive no Brasil, dtype: int64

In [ ]:
df['Vive no Brasil'] = df['Vive no Brasil'].astype(int)

###Selecionando apenas as profissões com dados

In [ ]:
df.dropna(inplace = True)
df.drop(df.loc[(df['Cargo Atual'] == 'Economista')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Analista de Negócios/Business Analyst')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Professor/Pesquisador')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Analytics Engineer')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Outras Engenharias (não inclui dev)')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Outra Opção')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Analista de Suporte/Analista Técnico')].index, inplace=True)

## **Transformação dos valores**

###Transformação para 0s e 1s em PCD e Gênero

In [ ]:
df['PCD'] = df['PCD'].replace('Prefiro não informar', 'Não')
df['PCD'] = df['PCD'].replace('Não', 0)
df['PCD'] = df['PCD'].replace('Sim', 1)

In [ ]:
df['Gênero'] = df['Gênero'].replace({'Masculino': 0, 'Feminino': 1})
df['Gênero'] = df['Gênero'].replace({'Outro': 0, 'Prefiro não informar': 0})

### Transformação dos dados em ordem crescente

In [ ]:
df['Faixa idade'] = LabelEncoder().fit_transform(df['Faixa idade'])
df['UF onde mora'] = LabelEncoder().fit_transform(df['UF onde mora'])
df['Área de Formação'] = LabelEncoder().fit_transform(df['Área de Formação'])
df['Setor'] = LabelEncoder().fit_transform(df['Setor'])
df['Cargo Atual'] = LabelEncoder().fit_transform(df['Cargo Atual'])
df['Faixa salarial'] = LabelEncoder().fit_transform(df['Faixa salarial'])
df['Quanto tempo de experiência na área de dados você tem?'] = LabelEncoder().fit_transform(df['Quanto tempo de experiência na área de dados você tem?'])
df['Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?'] = LabelEncoder().fit_transform(df['Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?'])
df['Cor/raca/etnia'] = LabelEncoder().fit_transform(df['Cor/raca/etnia'])

### Transformando o Nível de Ensino em números crescentes
*   Estudante - 0
*   Graduação - 1
*   Pós - 2
*   Mest - 3
*   Dout - 4

In [ ]:
df['Nível de Ensino'] = df['Nível de Ensino'].replace({'Estudante de Graduação': 0, 'Graduação/Bacharelado': 1, 'Pós-graduação': 2, 'Mestrado': 3, 'Doutorado ou Phd': 4})

<ipython-input-97-c8c2a0ce5d0f>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Nível de Ensino'] = df['Nível de Ensino'].replace({'Estudante de Graduação': 0, 'Graduação/Bacharelado': 1, 'Pós-graduação': 2, 'Mestrado': 3, 'Doutorado ou Phd': 4})

### Transformando o Nível em números crescentes
*   Junior - 0
*   Pleno - 1
*   Senior - 2

In [ ]:
df['Nível'] = df['Nível'].replace({'Júnior': 0, 'Pleno': 1, 'Sênior': 2})

<ipython-input-98-1a3441c70546>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Nível'] = df['Nível'].replace({'Júnior': 0, 'Pleno': 1, 'Sênior': 2})

# Base pronta para modelagem

## Verificando novamente os nulos

In [ ]:
for col in df.columns:
  nulos = df[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Idade tem 0 nulos
A coluna Faixa idade tem 0 nulos
A coluna Gênero tem 0 nulos
A coluna Cor/raca/etnia tem 0 nulos
A coluna PCD tem 0 nulos
A coluna Vive no Brasil tem 0 nulos
A coluna UF onde mora tem 0 nulos
A coluna Nível de Ensino tem 0 nulos
A coluna Área de Formação tem 0 nulos
A coluna Setor tem 0 nulos
A coluna Cargo Atual tem 0 nulos
A coluna Nível tem 0 nulos
A coluna Faixa salarial tem 0 nulos
A coluna Quanto tempo de experiência na área de dados você tem? tem 0 nulos
A coluna Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados? tem 0 nulos
A coluna Existe faculdade no Estado tem 0 nulos

## Verificando a mudança nos tipos

In [ ]:
df.dtypes

Idade                                                                                                                        int64
Faixa idade                                                                                                                  int64
Gênero                                                                                                                       int64
Cor/raca/etnia                                                                                                               int64
PCD                                                                                                                          int64
Vive no Brasil                                                                                                               int64
UF onde mora                                                                                                                 int64
Nível de Ensino                                                                                                              int64
Área de Formação                                                                                                             int64
Setor                                                                                                                        int64
Cargo Atual                                                                                                                  int64
Nível                                                                                                                        int64
Faixa salarial                                                                                                               int64
Quanto tempo de experiência na área de dados você tem?                                                                       int64
Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?    int64
Existe faculdade no Estado                                                                                                   int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 16 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Idade                                                                                                                      2907 non-null   int64
 1   Faixa idade                                                                                                                2907 non-null   int64
 2   Gênero                                                                                                                     2907 non-null   int64
 3   Cor/raca/etnia                                                                                                             2907 non-null   int64
 4   PCD                                                                                                                        2907 non-null   int64
 5   Vive no Brasil                                                                                                             2907 non-null   int64
 6   UF onde mora                                                                                                               2907 non-null   int64
 7   Nível de Ensino                                                                                                            2907 non-null   int64
 8   Área de Formação                                                                                                           2907 non-null   int64
 9   Setor                                                                                                                      2907 non-null   int64
 10  Cargo Atual                                                                                                                2907 non-null   int64
 11  Nível                                                                                                                      2907 non-null   int64
 12  Faixa salarial                                                                                                             2907 non-null   int64
 13  Quanto tempo de experiência na área de dados você tem?                                                                     2907 non-null   int64
 14  Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?  2907 non-null   int64
 15  Existe faculdade no Estado                                                                                                 2907 non-null   int64
dtypes: int64(16)
memory usage: 363.5 KB

In [ ]:
df

,Idade,Faixa idade,Gênero,Cor/raca/etnia,PCD,Vive no Brasil,UF onde mora,Nível de Ensino,Área de Formação,Setor,Cargo Atual,Nível,Faixa salarial,Quanto tempo de experiência na área de dados você tem?,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Existe faculdade no Estado
0,31,3,0,1,0,1,9,4,2,4,3,2,4,4,2,1
1,30,3,0,1,0,1,6,1,2,4,0,1,12,4,4,0
2,37,4,1,0,0,1,23,1,2,4,1,0,12,3,1,1
3,34,3,0,1,0,1,9,4,3,8,1,0,11,1,1,1
4,30,3,0,1,0,1,17,0,2,16,6,1,13,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2902,36,4,1,4,0,1,23,2,3,19,1,1,12,4,2,1
2903,23,1,0,4,0,1,7,1,2,18,1,0,9,1,4,0
2904,27,2,1,4,0,1,6,1,7,18,5,1,13,4,2,0
2905,28,2,0,1,0,1,23,1,8,4,3,0,13,3,2,1
2906,32,3,0,1,0,1,18,1,7,8,7,1,13,5,2,0

In [ ]:
from google.colab import files
df.to_csv('Filtragem_Transformada.csv', index=False)  # Salva o DataFrame modificado
files.download('Filtragem_Transformada.csv')          # Faz o download do arquivo atualizado